h1{
    color: Green;
}

body{
    background-color: lightgray;
    
}
div{
    color: white;

}

form{
    color: black;
    float: right;
}
input{
    color: black;
   
}
button{
    color:white;
    background-color: green;
}